<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Legal Contract Engine</title>

    <link rel="shortcut icon" href="../public/img/logo-white.png">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

    <link href="../public/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="../public/img/logo-white.png" class="bi me-2" width="40" height="40" role="img"
                        aria-label="Smart Legal Contract Engine">
                    </img>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Início</a></li>
                    <li><a href="#features" class="nav-link px-2 text-white">Características</a></li>
                    <li><a href="#sobre" class="nav-link px-2 text-white">Sobre</a></li>
                </ul>


                <div class="text-end">
                    <a type="button" class="btn btn-outline-light me-2" href="/login">Login</a>
                    <a type="button" class="btn btn-primary" href="/signup">Sign-up</a>
                </div>
            </div>
        </div>
    </header>

    <main>

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <img src="../public/img/bground.jpg" alt=""></div>

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="display-4 fw-bold lh-1">Smart Legal Contract Engine</h1>
                            <p class="lead">Uma ferramenta poderosa para a criação de smart legal contracts.</p>
                            <p class="lead"><a class="btn btn-lg btn-outline-light" href="/login">Experimente já!</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <img src="../public/img/bground.jpg" alt=""></div>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="display-4 fw-bold lh-1">Accord Project.</h1>
                            <p class="lead">Este projeto utiliza a tecnologia open-source do Accord Project.</p>
                            <p class="lead"><a class="btn btn-lg btn-outline-light" href="#accord">Saiba mais</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <img src="../public/img/bground.jpg" alt=""></div>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1 class="display-4 fw-bold lh-1">One more for good measure.</h1>
                            <p class="lead">Some representative placeholder content for the third slide of this carousel.</p>
                            <p class="lead"><a class="btn btn-lg btn-outline-light" href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row" id="features">
                <h1 class="display-4 fw-bold lh-1 text-muted" style="text-align: center; padding-bottom: 3%;">Características dos smart legal contracts</h1>
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="fas fa-laptop-code fa-8x"></i>
                    </div>

                    <h4 class="display-7 fw-bold lh-4 text-muted">Leitura para homem e máquina</h4>
                    <p class="lead">Os smart legal contracts são documentos que têm a capacidade de serem lidos quer por máquinas
                        quer por humanos.</p>
                    <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                </div>
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="fas fa-cogs fa-8x"></i>
                    </div>

                    <h4 class="display-7 fw-bold lh-4 text-muted">Autoexecução</h4>
                    <p class="lead">Os smart leagal contracts são documentos que são capazes de se executarem sem a intervenção de
                        humanos.</p>
                    <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="fas fa-file-contract fa-8x"></i>
                    </div>

                    <h4 class="display-7 fw-bold lh-4 text-muted">Validade legal</h4>
                    <p class="lead">Um smart legal contract tem a validade legal, dado que o mesmo é um acordo entre duas ou mais
                        partes. As quais assinam esse mesmo acordo.</p>
                    <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                </div>
            </div><!-- /.row -->

            <div class="row">
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="fas fa-file-code fa-8x"></i>
                    </div>

                    <h4 class="display-7 fw-bold lh-4 text-muted">Tecnologia neutra</h4>
                    <p class="lead">Oferecem um formato geral para facilitar a utilização de smart legal contracts em qualquer tipo
                        de infraestrutura.</p>
                    <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                </div>
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="fas fa-search fa-8x"></i>
                    </div>

                    <h4 class="display-7 fw-bold lh-4 text-muted">Facilidade de análise</h4>
                    <p class="lead">Ao utilizar linguagens de marcação, os smart legal contracts facilitam o trabalho de pesquisar e
                        aceder às partes mais essenciais dos contratos.</p>
                    <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="bd-placeholder-img rounded-circle">
                        <i class="fas fa-balance-scale fa-8x"></i>
                    </div>

                    <h4 class="display-7 fw-bold lh-4 text-muted">Facilidade de disputa</h4>
                    <p class="lead">Um smart legal contract tem a capacidade de facilitar as disputas contratuais, uma vez que as
                        mesmas se resolvem de forma automática.</p>
                    <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                </div><!-- /.col-lg-4 -->
            </div>


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette" id="sobre">
                <div class="container my-5">
                    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                            <h1 class="display-4 fw-bold lh-1">Contratos legais <span
                                    class="text-muted">autoexecutáveis.</span></h1>
                            <p class="lead">Smart legal contracts são contratos e/ou acordos digitais juridicamente
                                vinculativos e autoexecutáveis. Têm a capacidade de ligar os seus termos e o cumprimento
                                das suas obrigações a fontes externas de dados e sistemas de software.
                            </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                                <!-- <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="" target="_blank">Click</a> -->
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                            <img class="rounded-lg-3" src="../public/img/10624.jpg" alt="" width="720">
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="container my-5">
                    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                        <div class="col-lg-7 order-md-2 p-3 p-lg-5 pt-lg-3">
                            <h1 class="display-4 fw-bold lh-1">Um contrato. <span class="text-muted">Duas partes.</span>
                            </h1>
                            <p class="lead">Os smart legal contracts estão divididos em duas partes. Uma parte
                                representada por um documento em linguagem natural que pode ser interpretado por
                                qualquer ser humano e uma parte lógica que é executada computacionalmente.
                            </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                                <!-- <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="" target="_blank">Click</a> -->
                            </div>
                        </div>
                        <div class="col-lg-4 order-md-1 offset-lg-1 p-0 overflow-hidden shadow-lg">
                            <img class="rounded-lg-3" src="../public/img/2142.jpg" alt="" width="720">
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Oh yeaaaaaaah, it’s that good. <span class="text-muted">See for
                            yourself.</span></h2>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of
                        how this layout would work with some actual real-world content in place.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div> -->

            <hr class="featurette-divider">

            <!-- <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">And yes, this is the last block of representative placeholder content. Again, not
                        really intended to be actually read, simply here to give you a better view of what this would
                        look like with some actual content. Your content.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div> -->

            <!-- <hr class="featurette-divider"> -->

            <div class="container my-5" id="accord">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                        <h1 class="display-4 fw-bold lh-1">Uma solução que a usa a tecnologia do Accord Project da Linux
                            Foundation</h1>
                        <p class="lead">O Accord Project é uma iniciativa sem fins lucrativos e colaborativa, que tem
                            como intuito desenvolver um ecossistema e ferramentas open-source para smart legal contracts
                            . Este projeto fornece as ferramentas necessárias para formatar, executar e gerir
                            contratos/acordos juridicamente vinculados e que são capazes de serem lidos por máquinas.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                            <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="https://accordproject.org/"
                                target="_blank">Saiba mais</a>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                        <img class="rounded-lg-3" src="../public/img/accord-page.png" alt="" width="720">
                    </div>
                </div>
            </div>

            <!-- <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">And yes, this is the last block of representative placeholder content. Again, not
                        really intended to be actually read, simply here to give you a better view of what this would
                        look like with some actual content. Your content.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div> -->

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#"><i class="fas fa-chevron-up"></i></a></p>
            <p>&copy; 2021 Rui Marques</p>
            <!-- <p>&copy; 2021 Rui Marques &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
        </footer>
    </main>

    <script src="../public/assets/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>