<%- include('partials/login-header') %>

<body>
    <div class="modal modal-signin position-static d-block py-5">
        <div class="modal-dialog">
            <div class="modal-content rounded-5 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h2 class="fw-bold mb-0">Sign up for free</h2>
                    <img src="../public/img/logo.png" alt="Smart Legal Contract Engine">
                </div>

                <div class="modal-body p-5 pt-0">
                    <form class="form" method="POST" action="/login">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-4" id="email" name="email"
                                placeholder="name@example.com">
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-4" id="password" name="password"
                                placeholder="Password">
                            <label for="password">Password</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign in</button>
                    </form>
                    <hr>
                    <a class="w-100 mb-2 btn btn-lg rounded-4 btn-outline-danger" id="createaccount"
                        href="/signup"><span>Don't have an account?</span></a>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/login-footer') %>