<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contract Template</title>

    <!-- style for styling the page with swag -->
    <link rel="stylesheet" href="{{style}}">
</head>

<body>
    <header class="clearfix">
        <div id="logo">
            <img src="{{logo}}" alt="">
        </div>
        <div id="company">
            <h2 class="name">DigitalSign - Certificadora Digital</h2>
            <div>Largo Padre Bernardino Ribeiro Fernandes 26, 4835-489 Guimarães</div>
            <div><a href="tel:+351 253 560 650">253 560 650</a></div>
            <div><a href="mailto:comercial@digitalsign.pt">comercial@digitalsign.pt</a></div>
        </div>
    </header>
    <main class="clearfix">
        <div id="title">
            <h1>Contrato</h1>
        </div>
        <div id="text">
            <p>Este é um contrato para o fornecimento de um serviço de fornecimento de
                internet.</p>
            <p>Entre</p>
            <p><span id="spanprovider">{{provider}}</span> com o NIF nº <span
                    id="spanproviderNIF">{{providerNIF}}</span>,
                com sede em <span id="spanproviderAddress">{{providerAddress}}</span>,
                representado por <span id="spanproviderRep">{{providerRep}}</span>, doravante denominado por
                <strong>Fornecedor</strong>.
            </p>
            <p>E</p>
            <p><span id="spanclient">{{client}}</span> com o NIF nº <span id="spanclientNIF">{{clientNIF}}</span>,
                sediado em <span id="spanclientAddress">{{clientAddress}}</span>,
                representado por <span id="spanclientRep">{{clientRep}}</span>, adiante designado por
                <strong>Cliente</strong>.</p>
            <p>O contrato será iniciado a <span id="spaninicialDate">{{inicialDate}}</span>, iniciando
                nesse
                mesmo dia e terá a duração de <span id="spancontractDuration">{{contractDuration}}</span>.
            </p>
            <p>O serviço prestado pelo <strong>Fornecedor</strong> terá o custo de
                <span id="spanserviceCost">{{serviceCost}}</span> pelo
                período de serviço acordado pelas partes deste contrato. O pagamento será feito mediante o
                resultado da avaliação realizada pelo <strong>Cliente</strong>, que terá que ser
                obrigatoriamente
                realizada num espaço de 7 dias a contar desde o final do contrato.</p>
            <p>A avaliação terá que ser realizada numa escala de 0 a 100 pontos em que:
            </p>
            <p>1. No caso da pontuação ser inferior a <span id="spanminPoints">{{minPoints}}</span>
                (valor mínimo de
                pontuação do serviço) o contrato entre ambas as partes termina e o <strong>Cliente</strong>
                não tem que
                pagar pelo serviço prestado;</p>
            <p>2. No caso da pontuação estar compreendida entre o valor mínimo e
                <span id="spanlowPoints">{{lowPoints}}</span> o contrato não será renovado e o
                <strong>Cliente</strong>
                paga apenas
                <span id="spanhighPercentage">{{highPercentage}}</span>%
                do valor total do serviço;</p>
            <p>3. No caso da pontuação estar compreendida entre o valor definido no Ponto
                2 e <span id="spanmidPoints">{{midPoints}}</span> o contrato será renovado e o
                <strong>Cliente</strong>
                paga apenas
                <span id="spanmidPercentage">{{midPercentage}}</span>% do
                valor total do serviço providenciado;</p>
            <p>4. No caso da pontuação estar compreendida entro o valor definido no Ponto
                3 e <span id="spanhighPoints">{{highPoints}}</span> o contrato será renovado e o
                <strong>Cliente</strong>
                paga apenas
                <span id="spanlowPercentage">{{lowPercentage}}</span>%
                do valor total definido previamente;</p>
            <p>5. No caso da pontuação ser superior a <span id="spanhighPoints">{{maxPoints}}</span>
                o
                contrato será
                renovado e o <strong>Cliente</strong> paga a totalidade do valor acordado entre ambas as
                partes.</p>
        </div>
    </main>
</body>

</html>