<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>DigitalSign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv=Content-Type content="text/html; charset=iso-8859-1'">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px">
        <tr>
            <td>
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="650"
                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 11pt;">
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td><img src="https://www.digitalsign.pt/skin/default/images/digitalsign.png"
                                            alt="DigitalSign"></td>
                                    <td align="right">
                                        <h3 style="color: #1e8bb4;">JUNHO 2021</h3>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="center"
                            style="padding: 10px 10px 10px 10px; height: 100%; max-width: 650px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <td>
                                    <tr><a target="_blank"
                                            href="https://www.jornaldenegocios.pt/c-studio/detalhe/chegou-a-hora-da-faturacao-electronica-obrigatoria"><span><img
                                                    width="100%"
                                                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); display: block;"
                                                    src="https://downloads.digitalsign.pt/lists/faturacao_eletronica.jpg"
                                                    alt="Faturação eletrónica obrigatória"></span></a></tr>
                                </td>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="center" style="padding: 10px 10px 0px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align="center">
                                        <b><span style="font-size: 16pt;">FATURAÇÃO ELETRÓNICA</span>
                                            <br>
                                            <span style="color: #1e8bb4; font-size: 16pt;">CHEGOU A HORA</span></b>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 90px 10px 90px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align="left" bgcolor="e7e4df" style="padding: 0px 10px 0px 10px">
                                        <p style="text-align: center;"><b>Portugal não é o pioneiro na Europa, mas está
                                                no pelotão da frente ao nível da faturação eletrónica e com bons
                                                resultados</b></p>
                                        <p><i>“O ritmo de adoção da faturação eletrónica por grandes e pequenas empresas
                                                tem sido surpreendente, antecipando mesmo os prazos legais. Isto
                                                confirma
                                                que não se trata somente de uma obrigatoriedade legal, mas de algo que
                                                as
                                                empresas e a AP entendem como necessário. A obrigatoriedade do uso de
                                                mecanismos de segurança, como a assinatura eletrónica qualificada ou o
                                                selo
                                                eletrónico, foi também muito bem aceite, pois existe já uma consciência
                                                da
                                                necessidade de desmaterializar, de forma segura, documentos críticos
                                                como as
                                                faturas para evitar o cibercrime.”</i></p>
                                        <p>Leia a reportagem do <b>Jornal de Negócios</b> na integra, clicando <a
                                                href="https://www.jornaldenegocios.pt/c-studio/detalhe/chegou-a-hora-da-faturacao-electronica-obrigatoria"
                                                target="_blank"><span style="color:#1e8bb4">aqui</span></a></p>
                                        <p><b>Prepare a sua empresa e adquira já o seu certificado!</b></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="f0f0f0" style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
                                <tr>
                                    <td align="right" style="padding: 10px 10px 10px 10px; width: 50%;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                            <tr style="background-color: #00a6ec; color: #ffffff;">
                                                <td align="center">
                                                    <p>CERTIFICADO QUALIFICADO HSM CLOUD</p>
                                                    <p>FATURAÇÃO ELETRÓNICA</p>
                                                </td>
                                            </tr>
                                            <tr style="background-color: #f4f5f9; color: #000000;">
                                                <td align="center">
                                                    <p><span><b>Antes<s><br> €125</s></span><br></b><span
                                                            style="font-size: 14pt; color: #00a6ec;"><b>Agora <br>
                                                                €99</b></span><br><span
                                                            style="font-size: 6pt;">Certificados
                                                            válidos por 12 meses</span></p>
                                                    <p><button
                                                            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 12px 28px; border-radius: 4px; background-color: #008CBA; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; cursor: pointer;"><a
                                                                target="_blank"
                                                                href="https://www.digitalsign.pt/pt/certificado-digital/certificado-qualificado-de-faturacao-eletronica"
                                                                style="text-decoration: none; color: inherit; background-color: #008CBA;"><span style="color:white;">Comprar</span></a></button>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="left" style="padding: 10px 10px 10px 10px; width: 50%; ">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                            <tr style="background-color: #00a6ec; color: #ffffff;">
                                                <td align="center">
                                                    <p>SOLUÇÃO COMPLETA</p>
                                                    <p>FATURAÇÃO ELETRÓNICA</p>
                                                </td>
                                            </tr>
                                            <tr style="background-color: #f4f5f9; color: #000000;">
                                                <td align="center">
                                                    <p><span><b>Antes<s><br> €290</s></span><br></b><span
                                                            style="font-size: 14pt; color: #00a6ec;"><b>Agora <br>
                                                                €249</b></span><br><span style="font-size: 6pt;">Inclui
                                                            certificados válidos por 12 meses</span></p>
                                                    <p><button
                                                            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 12px 28px; border-radius: 4px; background-color: #008CBA; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; cursor: pointer;"><a
                                                                target="_blank"
                                                                href="https://www.digitalsign.pt/pt/signingdesk/cbs"
                                                                style="text-decoration: none; color: inherit; background-color: #008CBA;"><span style="color:white;">Comprar</span></a></button>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="ffffff" style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#e7e4df" style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="text-align: center; font-size: 12pt;">
                                <tr>
                                    <td style="font-size: 20pt;">
                                        <a style="color: inherit !important; text-decoration: none !important;"
                                            target="_blank" href="https://www.digitalsign.pt"><span
                                                style="color:#1e8bb4">www.digitalsign.pt</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 5px;"><a
                                            style="color: inherit !important; text-decoration: none !important;"
                                            target="_blank" href="https://www.digitalsign.pt/pt/suporte"><span style="color:black">Help and
                                                FAQs</span></a>
                                        | <a style="color: inherit !important; text-decoration: none !important;"
                                            target="_blank"
                                            href="https://www.digitalsign.pt/media/files/Downloads/politica-de-privacidade-digitalsign.pdf"><span style="color:black">Política
                                                de Privacidade</span></a> | <a
                                            style="color: inherit !important; text-decoration: none !important;"
                                            target="_blank"
                                            href=" https://www.digitalsign.pt/newsletter/30-6/index.html"><span style="color:black">Versão
                                                Web</span></a> | <a
                                            style="color: inherit !important; text-decoration: none !important;"
                                            target="_blank"
                                            href="http://suporte.digitalsign.pt/lists/?p=unsubscribe"><span style="color:black">Remover</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 3px;">Tel: <a
                                            style="color: inherit !important; text-decoration: none !important;"
                                            href="tel:+351 253 560 650"><span style="color:black">+351 253 560 650</span></a> / <a
                                            style="color: inherit !important; text-decoration: none !important;"
                                            href="tel:+351 962 022 502"><span style="color:black">+351 962 022 502</span></a> Email: <a
                                            style="color: inherit !important; text-decoration: none !important;"
                                            href="mailto:comercial@digitalsign.pt"><span style="color:black">comercial@digitalsign.pt</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 3px;">Web: <a
                                            style="color: inherit !important; text-decoration: none !important;"
                                            target="_blank"
                                            href="https://www.digitalsign.pt"><span style="color:black">www.digitalsign.pt</span></a></td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px 10px 10px 10px;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td align="center" style="font-size: 20pt; color:#1e8bb4;">Follow
                                                    DigitalSign</td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="padding: 10px 10px 10px 10px">
                                                    <table>
                                                        <tr>
                                                            <td><a href="https://www.facebook.com/digitalsign.pt"
                                                                    target="_blank"
                                                                    style="text-decoration: none; color:#1e8bb4;"><span><i
                                                                            class="fa fa-facebook-square fa-3x"
                                                                            aria-hidden="true"></i></span></a></i>
                                                            </td>
                                                            <td><a href="https://pt.linkedin.com/company/digitalsign-pt"
                                                                    target="_blank"
                                                                    style="text-decoration: none; color:#1e8bb4;"><span><i
                                                                            class="fa fa-linkedin-square fa-3x"
                                                                            aria-hidden="true"></i></span></a>
                                                            </td>
                                                            <td><a href="https://www.youtube.com/channel/UCmamL_Wds8Rs_4Vz-bHSvbA"
                                                                    target="_blank"
                                                                    style="text-decoration: none; color:#1e8bb4;"><span><i
                                                                            class="fa fa-youtube-square fa-3x"
                                                                            aria-hidden="true"></i></span></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>