<%- include('partials/header') %>

<!-- User side CSS -->
<link rel="stylesheet" href="/public/css/layout.css">
<!-- CSS for this page -->
<link rel="stylesheet" href="/public/css/form.css">


</head>

<body>
  <%- include('partials/nav') %>

  <div class="container-fluid">
    <div class="row">

      <%- include('partials/sidebar') -%>

      <main class="col-md-1 ms-sm-auto col-lg-10 px-md-4" style="padding-top: 1%;">

        <div class="card shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <div class="card shadow">
                  <div class="card-body rounded-3 shadow btn-primary">
                    <div class="row">
                      <div class="col-6">
                        <h6 class="h6 card-title">Em curso</h6>
                        <h5 class="h5 card-title">17</h5>
                      </div>
                      <div class="col-6">
                        <i class="fas fa-align-justify"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card shadow">
                  <div class="card-body rounded-3 shadow btn-success">
                    <h6 class="h6 card-title">Terminados</h6>
                    <h5 class="h5 card-title">10</h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card shadow">
                  <div class="card-body rounded-3 shadow btn-warning">
                    <h6 class="h6 card-title" style="color: white;">Por assinar</h6>
                    <h5 class="h5 card-title" style="color: white;">3</h5>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card shadow">
                  <div class="card-body rounded-3 shadow btn-danger">
                    <h6 class="h6 card-title">Expirados</h6>
                    <h5 class="h5 card-title">2</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card shadow">
          <div class="card-body rounded-3 shadow">
            <h2 class="card-title">Contratos</h2>

            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Header</th>
                    <th scope="col">Header</th>
                    <th scope="col">Header</th>
                    <th scope="col">Header</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1,001</td>
                    <td>random</td>
                    <td>data</td>
                    <td>placeholder</td>
                    <td>text</td>
                  </tr>
                  <tr>
                    <td>1,002</td>
                    <td>placeholder</td>
                    <td>irrelevant</td>
                    <td>visual</td>
                    <td>layout</td>
                  </tr>
                  <tr>
                    <td>1,003</td>
                    <td>data</td>
                    <td>rich</td>
                    <td>dashboard</td>
                    <td>tabular</td>
                  </tr>
                  <tr>
                    <td>1,003</td>
                    <td>information</td>
                    <td>placeholder</td>
                    <td>illustrative</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>1,004</td>
                    <td>text</td>
                    <td>random</td>
                    <td>layout</td>
                    <td>dashboard</td>
                  </tr>
                  <tr>
                    <td>1,005</td>
                    <td>dashboard</td>
                    <td>irrelevant</td>
                    <td>text</td>
                    <td>placeholder</td>
                  </tr>
                  <tr>
                    <td>1,006</td>
                    <td>dashboard</td>
                    <td>illustrative</td>
                    <td>rich</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>1,007</td>
                    <td>placeholder</td>
                    <td>tabular</td>
                    <td>information</td>
                    <td>irrelevant</td>
                  </tr>
                  <tr>
                    <td>1,008</td>
                    <td>random</td>
                    <td>data</td>
                    <td>placeholder</td>
                    <td>text</td>
                  </tr>
                  <tr>
                    <td>1,009</td>
                    <td>placeholder</td>
                    <td>irrelevant</td>
                    <td>visual</td>
                    <td>layout</td>
                  </tr>
                  <tr>
                    <td>1,010</td>
                    <td>data</td>
                    <td>rich</td>
                    <td>dashboard</td>
                    <td>tabular</td>
                  </tr>
                  <tr>
                    <td>1,011</td>
                    <td>information</td>
                    <td>placeholder</td>
                    <td>illustrative</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>1,012</td>
                    <td>text</td>
                    <td>placeholder</td>
                    <td>layout</td>
                    <td>dashboard</td>
                  </tr>
                  <tr>
                    <td>1,013</td>
                    <td>dashboard</td>
                    <td>irrelevant</td>
                    <td>text</td>
                    <td>visual</td>
                  </tr>
                  <tr>
                    <td>1,014</td>
                    <td>dashboard</td>
                    <td>illustrative</td>
                    <td>rich</td>
                    <td>data</td>
                  </tr>
                  <tr>
                    <td>1,015</td>
                    <td>random</td>
                    <td>tabular</td>
                    <td>information</td>
                    <td>text</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </div>
</body>

</html>